@media (min-width: 992px) and (max-width: 1439px) {
	.sta_slider .carousel-item{
		height: 600px;
	}
}
.sta_slider .carousel-item>a>img{
	object-fit: cover;
	height: 100%;
}
.sta_slider a{
	color: #fff;
}
.sta_slider .carousel-caption{
	left: 50%;
	transform: translateX(-50%);
	bottom: 50px;
}
.sta_caption-right{
	flex-grow: 1;
	text-align: right;
}
.sta_caption-right img{
	width: 164px;
	margin-bottom: 10px;
}
.sta_caption-right h6{
	font-size: 11px;
}
h2.sta_slider-caption{
	font-size: 22px;
	text-align: left;
	line-height: 35px;
	font-weight: 600;
}
@media (max-width: 576px){
	h2.sta_slider-caption{
		font-size: 14px;
		display: none;
	}
	.sta_caption-right img{
		width: 70px;
	}
}
@media (max-width: 730px) and (min-width: 576px) {
	h2.sta_slider-caption{
		font-size: 18px;
	}
}
@media (max-width: 730px){
	.sta_slider .carousel-caption{
		bottom: 0;
	}
}
.carousel-control-prev, .carousel-control-next{
	display: none;
}
#sta_carousel:hover .carousel-control-prev, #sta_carousel:hover .carousel-control-next{
	display: flex;
}
/*end slider*/


/*sta_intro*/
.sta_title{
	font-size: 22px;
	color: #333;
	text-align: center;
	font-weight: bold;
	margin-bottom: 50px;
	text-transform: uppercase;
}
.sta_intro-text p{
	margin-bottom: 30px;
	text-align: justify;
	color: #8f8f8f;
}
/*sta_intro_1*/
.sta_intro{
	padding-top: 70px;
	padding-bottom: 70px;
}
.sta_media-img{
	width: 400px;
	margin: auto;
}
.sta_media-img img{
	object-fit: cover;
	/*height: 250px;*/
}
.sta_media-img h3{
	font-size: 20px;
	text-align: center;
}
@media (max-width: 900px) {
	.sta_media-img{
		width: unset;
	}
}
/*end sta_intro_1*/

/*sta_intro_2*/
.sta_intro_2{
	background-color: #f5f4f4;
}
.sta_wrapper-brand{
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right: 1px solid #333;
}
@media(max-width: 575px){
	.sta_wrapper-brand:nth-child(2n){
		border-right: 0;
	}
}
@media(max-width: 767px){
	.sta_wrapper-brand:nth-child(3n){
		border-right: 0;
	}
}
@media(min-width: 768px){
	.sta_wrapper-brand:nth-child(4n){
		border-right: 0;
	}
}
.sta_wrapper-brand .card{
	background-color: inherit;
	border: 0;
}
.sta_wrapper-brand .card>a{
	display: inherit;
	height: 70px;
	vertical-align: middle;
}
.sta_wrapper-brand .card-body{
	padding-top: 5px;
	padding-bottom: 5px;
}
.sta_wrapper-brand .card-img{
	/*height: 70px;*/
	object-fit: contain;
	width: 140px;
	display: block;
	margin: auto;
}
.sta_wrapper-brand .card-title{
	font-size: 12px;
	color: #474646;
	text-align: center;
	margin-bottom: 2px;
}
/*end sta_intro_2*/